{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} The Topic Recommender {% endblock title %} 
{% load static %}

{% block content %}
<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <div class="row">
    <div class="col">
      <h2>
        The Topic Recommender: Find Content That Will Increase Your Traffic
      </h2>
      <p>
        Simply enter five URLs from your website that represent your overall content.
      </p>
    </div>
  </div>

  <div class="row my-5 p-3 mb-2 bg-light text-dark">
    <div class="col">
      <form action="/" method="post">
        {{form|crispy}}
        {% csrf_token %}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>

  

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Latent Dirichlet Allocation.
        <span class="text-muted">Topic Modeling Algorithm.</span>
      </h2>
      <p class="lead">
        Latent Dirichlet Allocation (LDA) is a popular topic modeling algorithm in natural language processing. The 
        aim of Latent Dirichlet Allocation is to find the different topics that a document belongs to, based on 
        the words in the document. The Topic Recommender uses LDA to match your content with various topics.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'lda_image.PNG' %}" alt="LDA" width="500" height="500">
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Term Frequency-Inverse Document Frequency.
        <span class="text-muted">Information Retrieval Algorithm.</span>
      </h2>
      <p class="lead">
        Term Frequency-Inverse Document Frequency, more commonly known as TF-IDF, is a statistical algorithm 
        that weighs how important a word is to a whole document or a set of documents. It considers how many 
        times a word appears in a document, and the inverse document frequency of the word. The Topic Recommender 
        uses TF-IDF to calculate the keywords sent to Google Trends.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'tfidf_image.png' %}" alt="TF-IDF" width="400" height="500">
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        PyTrends. <span class="text-muted">Google Trends API.</span>
      </h2>
      <p class="lead">
        PyTrends is an unnofficial API for Google Trends. It allows the user to access data from 
        Google Trends when given a payload with one or more keywords. The Topic Recommender uses 
        PyTrends to find "trending" content.
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'PyTrends.png' %}" alt="PyTrends" width="500" height="500">
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
{% endblock content %}
