{% extends "base.html" %}
{% block title %} Recommendations {% endblock title %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>
        Recommendations
      </h2>
      <p>
        Here is some popular content that you could write about next. The "Top Content" is currently trending, and the 
        "Rising Content" is currently rising in popularity
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3> Top Content: </h3>
      {% for top_query in top_queries %}
        {{ top_query | safe}}
        <br>
      {% endfor %}
    <div class="col">
      <h3> Rising Content: </h3>
      {% for rising_query in rising_queries %}
        {{ rising_query | safe}}
        <br>
      {% endfor %}
  </div>

  <div class="row">
    <div class="col">
      <p> The Topic Recommender extracted these keywords from your website using latent Dirichilet allocation.
      Using these keywords, the Topic Recommender provides recommendations </p>
      {% for keyword in keywords %}
        {{ keyword }}
        <br>
      {% endfor %} 
    </div>
  </div>
</div>
{% endblock content %}